@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Integrated github repo for Web apps with ASP.NET Core</p>
    
    <p>External git integration (Manual deployment with push)</p>
</div>
